.sharp-corner {
    border-radius: 0;
    -moz-border-radius: 0;
}

.logo {
    height: 45px;
    width: 200px;
}

.custom-icon {
    font-size: 45px;
    background: #666;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 6px solid #fff;
    color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.custom-icon:hover {
    background: rgba(0, 0, 0, 0.6);
}

.fix-editor {
    display: none;
}

.icon-wrapper {
    display: inline-block;
}

.custom-block {
    width: 60%;
}

@media only screen and (max-width: 900px) {
    .custom-block {
        width: 100%;
    }
}

.dropdown-menu{
    width: -moz-calc(100% - 28px);
    width: -webkit-calc(100% - 28px);
    width: calc(100% - 28px);
}

input.centralise {
    text-align: center; 
}

.longWait {
    color: red;
}

.averageWait {
    color: darkorange;
}

.shortWait {
    color: seagreen;
}

.angular-google-map-container { 
    height: 500px; 
}

.errorColor {
    color: red;
}

#footer {
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    /*margin-top: 0;*/
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;

}

@media only screen and (min-width: 768px) {
    #footer{
        margin-top: 80px;
    }
}